* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
  }

  nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(18, 18, 62);
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  nav ul li a:hover {
    text-decoration: none;
    font-size: 1.01rem;
    color: rgb(153, 80, 222);
  }
  
  .left {
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .left a {
    text-decoration: none;
    color: white;
  }
  
  .left a:hover {
    text-decoration: none;
    font-size: 1.21rem;
    color: rgb(153, 80, 222);
  }

.ffirstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 23px 0;
  }
  
  .rightSection {
    width: 50%;
    font-size: 1.2rem;
    /* margin-top: 120px;*/
    margin-left: 30px;
  }
  
  .rightSection .box{
    width: 80%;
    height: 350px;
  }
  
  .leftSection {
    width: 40%;
  }
  
  .leftSection img {
    width: 60%;
    margin-top: 20px;
    margin-left: 80px;
  }
  
  .name {
    color: rgb(153, 80, 222);
  }
  
  .text-gray {
    color: gray;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 2px;
  }

  .names{
    width: 85%;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
  }

  .names .fname{
    height: 38px;
    width: 45%;
  }

  .names .lname{
    height: 38px;
    width: 45%;
  }

  .styleinput{
    height: 38px;
    width: 85%;
    margin-top: 25px;
    text-indent: 10px;
    background-color: transparent;
    border: 1.5px solid #9c97f1;
    border-radius: 3px;
  }

  .description{
    height: 80px !important;
  }

  .submitbtn{
    height: 40px;
    width: 60%;
    /* position: absolute;
    right: 0; */
    color: white;
    background-color: #1e2167;
    border: 1.5px solid #9c97f1;
    border-radius: 3px;
    margin-left: 50px;
    margin-top: 30px;
    box-shadow: 5px 8px 10px rgba(255, 255, 255, 0.3);
    transition:  0.4s ease;

    }

    .submitbtn:hover{
      width: 61%;
      /* transition: 0.4s ease; */
      background-color: rgb(153, 80, 222);
      box-shadow: 0px 0px 0px rgba(0,0,0,0);
    }

    .text-white{
      color: white !important;
    }


    